{% extends "base.html" %}

{% block title %}
    {{object.name}}
{% endblock %}

{% block body %}


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title">
              Курс {{object.name}}
          </h1>
          <p>Вы действительно хотите удалить этот курс?</p>
          <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}