{% extends "base.html" %}
<!-- {% load static %} -->

{% block title %}
    Learning app
{% endblock %}

{% block body %}

<div>
    <h1>Welcome to Learning app!</h1>

    <p>
      You can become everybody with our learning app!
    </p>

    <div>
        <a href="{% url 'learning_app:course_list'%}">Courses</a>
    </div>

    <div>
        <a href="{% url 'learning_app:category_list'%}">Categories</a>
    </div>

    <div>
        <a href="{% url 'learning_app:contact'%}">Contact us</a>
    </div>
    
</div>

{% endblock %}